<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MusicStream</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/library">Bibliothèque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/track-form">Ajouter un Track</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>